:root {
  --general-color: #F5F5F5;
  --contrast-color: #E2E2E2;
  --background: #EE2222;
  --background2: #eb56116c;
  --transition-duration: .3s;
  --background-gradient: linear-gradient(-360deg, var(--background2), var(--background), var(--background2));
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--general-color);
}

* {
  box-sizing: border-box;
}
*::selection {
  background-color:transparent;
}




.texto {
  transition: var(--transition-duration);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.texto h1 {
  margin: 0;
  letter-spacing: -0.15rem;
  font-size: 2rem;
  font-weight: 900;
}
.texto h1 .container {
  margin: 1rem;
  position: relative;
}
.texto h1 .container .word {
  text-rendering: optimizeLegibility !important;
  white-space: pre;
  left: 50%;
  transform: translate(-50%, -10%);
  opacity: 0;
  display: block;
  top: 0;
  position: absolute;
}
.texto p {
  margin: 1rem 0;
  color: var(--contrast-color);
}

a.botao {
  transition: var(--transition-duration);
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 1.3rem;
  font-size: 1.3rem;
  border: 2px solid var(--general-color);
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}
a.botao:hover {
  background: var(--general-color);
  color: var(--background);
}



@media screen and (min-height: 300px) {
  :root {
    font-size: 13px;
  }
}
@media screen and (min-height: 900px) {
  :root {
    font-size: 20px;
  }
}
@media screen and (min-height: 1200px) {
  :root {
    font-size: 32px;
  }
}
@media screen and (min-width: 1000px) {
  :root {
    font-size: 24px;
  }

  .grained {
    display: block;
  }

  p.footer {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
  }
  nav .logo {
    height: 1.1rem;
  }
  nav p {
    display: block;
  }

  .texto {
    height: 85vh;
  }

  a.botao {
    font-size: 0.8rem;
    padding: 0.8rem 1rem;
  }
}
@media screen and (min-width: 1500px) {
  nav {
    padding: 1rem 4.5rem;
  }
}
.letter {
  text-rendering: optimizeLegibility !important;
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes gradient {
  0% {
    background-position-y: 100vh;
  }
  100% {
    background-position-y: -100vh;
  }
}
@keyframes grain {
  0% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
  10% {
    -webkit-transform: translate(-25%, 0%);
    -moz-transform: translate(-25%, 0%);
    transform: translate(-25%, 0%);
  }
  20% {
    -webkit-transform: translate(-30%, 10%);
    -moz-transform: translate(-30%, 10%);
    transform: translate(-30%, 10%);
  }
  30% {
    -webkit-transform: translate(-30%, 30%);
    -moz-transform: translate(-30%, 30%);
    transform: translate(-30%, 30%);
  }
  40% {
    -webkit-transform: translate();
    -moz-transform: translate();
    transform: translate();
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
    -moz-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(-20%, 20%);
    -moz-transform: translate(-20%, 20%);
    transform: translate(-20%, 20%);
  }
  70% {
    -webkit-transform: translate(-5%, 20%);
    -moz-transform: translate(-5%, 20%);
    transform: translate(-5%, 20%);
  }
  80% {
    -webkit-transform: translate(-25%, 5%);
    -moz-transform: translate(-25%, 5%);
    transform: translate(-25%, 5%);
  }
  90% {
    -webkit-transform: translate(-30%, 25%);
    -moz-transform: translate(-30%, 25%);
    transform: translate(-30%, 25%);
  }
  100% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}